			black panther {
				background-color: #008080
			}
			black panther {
				background-color: #FFB6C1
			}
			CAPTAIN america &amp; bucky barnes {
				background-color: #663399
			}
			gamora {
				background-color: #8FBC8F
			}
			iron man {
				background-color: #
			}
			killmonger {
				background-color: #
			}
			loki {
				background-color: #
			}
			<p>"scarlet witch"</p> {
				background-color: #
			}
			thor {
				background-color: #
			}
			VISION {
				background-color: #
			}